
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  background-color: #333;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-link:hover {
  background-color: #555;
  transform: scale(1.1);
}

.nav-link:active {
  background-color: #777;
}


.nav-link:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-link:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
